/* *{
    margin: 0;
    padding: 0;
}
header{
    background:#333 ;
    height: 50px;
}
ul{
    float: right;
}
ul li{
    margin:10px 200px ;
}
ul li a{
    font-size: 1.3rem;
    text-align: center;
    color: white;
    text-decoration: none;
} */
