@import url(https://fonts.googleapis.com/css?family=Quicksand);

html{
  scroll-behavior: smooth;
}
body{

  margin: 0;
  padding: 0;
}
/* Back to top */

.back-to-top {
  visibility: hidden;
  background-color: #444;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back-to-top .fa {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
}

.back-to-top:hover {
  background-color: #fc4f3f;
  opacity: 1
}

.back-to-top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}